spring:
  application:
    name: demo

  datasource:
    url: jdbc:mysql://mysql:3306/esun?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Taipei
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none   
    show-sql: true       
    properties:
      hibernate:
        format_sql: true 
